// Styles for custom title
.custom-title-class {
    font-size: 20px;
    color: white;
    /* Your desired color */
}

// Styles for custom text
.custom-text-class {
    font-size: 16px;
    color: white
        /* Your desired color */
}

.swal2-content {
    color: white !important;
}

//   chatbot scss


/* Styles for the chatbot container */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #121212;
    color: white;
}
.header-tittle{
    font-size:20px;
    color:#5371ff;
}
/* Style for logo */
.logo {
    width: 50px;
    /* Adjust the width as needed */
    height: auto;
    border-radius: 50%;

}

.chatbot {
    display: flex;
    flex-direction: column;
    bottom:10px;
    right:30px;
    width: 400px;
    height:550px;
    border:2px solid grey;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 5px;
   

   
}
@media screen and (max-width: 852px) {
    .chatbot{
     position:fixed;
     bottom:5px;
     right:5px;
    }
   }
/* Styles for the messages container */
.messages {
    max-height: 80%;
    /* Limit the height of the messages container */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

/* Styles for the chat container */


/* Styles for individual messages */
.message {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 50%;
    max-height: 50%;
    word-wrap: break-word; 
    overflow:hidden;
}

/* Styles for messages from user1 */
.user1 {
    background-color: #343434;
    color: #ffff;
    align-self: flex-start;
    max-width: 50%;
    margin-right: auto;
    word-wrap: break-word; 
    overflow:hidden;
    font-size:15px;
}

/* Styles for messages from user2 */
.user2 {
    background-color: #eeeeee;
    color: black;
    align-self: flex-end;
    margin-left: auto;
    max-width:fit-content;
    word-wrap: break-word; 
    overflow:hidden;
    font-size:15px;
}

/* text-msg style*/
.input-line {
    position:absolute;
    top:80%;
    width:95%;
    border-bottom: 2px solid #121212; /* Style of the line */
    margin-bottom: 15px; 
    margin:auto 2px 15px;/* Spacing between line and input field */
  }
  

/* Styles for input field */
input[type="text"] {
    width:200px;
    /* Adjust the width of the input field */
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    font-size: 14px;
    outline: none;
}                  

// text msg div
.text-msg {
    display: flex;
    flex-direction: row;
    margin: auto 4px;
    position: absolute;
    top: 80%;
}
// voice listener
.voice-btn {
    cursor: pointer;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:4px;
    margin-top:8px;
    border-radius: 5px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    background-color: #121212;
  }
  
  .voice-btn:hover {
    color: #5371ff;
  }

/* Styles for send button */
button {
    /* Adjust the width of the send button */
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right:0;
    font-size: 14px;
    background-color: #5371ff;
    /* Blue background for the send button */
    color: #fff;
    /* White text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover styles for send button */
button:hover {
    background-color: #5371ff;
    /* Darker blue on hover */
}

.close-btn {
    background-color: #343434;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Style for close icon */
.close-icon {
    width: 20px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    fill: red;
    /* Adjust the color as needed */
}

.close-btn:hover .close-icon {
    fill: #555;
    /* Adjust the hover color as needed */
}
.send-btn{
    margin-left:2px;
}